body {
    font-size: 16px;
    font-family: "Outfit";
    background-color: hsl(30, 54%, 90%);
    color: hsl(24, 5%, 18%);
    padding: 80px 0 80px 0;
}

.recipe {
    background-color: hsl(0, 0%, 100%);
    width: 650px;
    margin: 0 auto;
    padding: 20px 30px;
    border-radius: 2%;
}

img {
    width: 100%;
    border-radius: 2%;
}

.preparation {
    background-color: hsl(330, 100%, 98%);
    padding: 5px 26px;
    border-radius: 2%;
}

h1 {
    font-family: "Young Serif";
    font-weight: 400;
    font-size: 40px;
    color: hsl(24, 5%, 18%);
}

h2 {
    font-family: "Young Serif";
    font-weight: 400;
    font-size: 30px;
}

h2, h3 {
    color: hsl(14, 45%, 36%);
}

p {
    padding: 10px;
}

hr {
    font-weight: lighter;
    border-color: hsl(330, 100%, 98%);
}

li {
    font-weight: bold;
    color: hsl(14, 45%, 36%);
    padding-top: 10px;
}

.list-text {
    color: hsl(24, 5%, 18%);
    font-weight: normal;
    padding-left: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    padding: 0 0 20px 20px;
    border-bottom: 1px solid hsl(14, 45%, 36%);
}

.color-td {
    color: hsl(14, 45%, 36%);
}

.no-border {
    border-bottom: none;
}

td {
    padding: 15px 0 15px 20px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width: 600px) {
    .recipe {
      margin:0;
      width: 100vw;
      height: 100vh;
      border-radius: 0;
    }

    img {
        width: 100vw;
        border-radius: 0;
    }

    body {
      padding:0;
      margin: 0;
      background-color: hsl(0, 0%, 100%);
    }
}