body {
    font-size: 16px;
    font-family: "Outfit";
    background-color: hsl(30, 54%, 90%);
}

#recipe {
    background-color: hsl(0, 0%, 100%);
    width: 650px;
    margin: 0 auto;
    padding: 20px 30px;
    border-radius: 2%;
}

img {
    width: 100%;
    border-radius: 2px;
}

h1 {
    font-family: "Young Serif";
    font-weight: 600;
    font-size: 40px;
}

h2 {
    font-family: "Young Serif";
    font-weight: 400;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }